* {
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  overflow-x: hidden; }

.main-nav {
  display: flex;
  min-height: 5vh;
  justify-content: space-between;
  align-items: center;
  padding: 25px 50px;
  background-color: #903CD2;
  position: relative; }

.logo > img {
  width: auto;
  height: 40px; }

.mobil-menu {
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 5px 10px;
  display: none; }
  .mobil-menu > svg {
    width: 25px;
    height: 25px; }

.nav-links {
  margin: 0;
  padding: 5px;
  list-style: none;
  display: flex; }
  .nav-links > li {
    margin-right: 35px; }
    .nav-links > li > a {
      color: #ffffff;
      font-size: 1.2rem;
      transition: all .2s ease-in-out;
      padding: 5px;
      border: 1px solid transparent; }
      .nav-links > li > a:hover {
        color: #ffffff;
        text-decoration: none;
        border: 1px solid #ffffff; }

@media screen and (max-width: 768px) {
  .mobil-menu {
    display: block; }
  .nav-links {
    display: block;
    position: absolute;
    width: 100%;
    height: auto;
    top: -1000px;
    left: 0;
    background-color: #903CD2;
    z-index: 5;
    text-align: center;
    transition: all .4s ease-in-out; }
    .nav-links.active {
      top: 90px; }
    .nav-links > li {
      margin-right: 0;
      margin-bottom: 25px; } }

.pages-header {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  align-items: center; }
  .pages-header::before {
    content: url("../images/wave-test.svg");
    position: absolute;
    bottom: -1rem;
    left: -5%;
    width: 110%;
    height: auto; }
  .pages-header > .content {
    color: white;
    z-index: 4; }

.main-header {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)), url("../images/header-image.jpg");
  background-position: center; }

.catalog-header {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.2)), url("../images/boros-katalogus.png");
  background-position: center; }

.blogs-header,
.ph-meter-header {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)), url("../../images/szolos-es-falu.jpg");
  background-position: bottom; }

.blog-header {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)), url("../../images/post-2-image.jpg");
  background-position: bottom;
  justify-content: center; }

@media screen and (max-width: 600px) {
  header {
    text-align: center; } }

.main-category {
  position: relative; }
  .main-category > .wine-stain {
    position: absolute;
    width: 20%;
    height: auto;
    top: -10%;
    left: 35%;
    z-index: -2;
    transform: rotate(90deg); }
  .main-category__params .bg-uni-primary {
    background-color: #e87b80; }
  .main-category__params .bg-uni-light {
    background-color: #f8e9eb; }
  .main-category__params .bg-uni-secondary {
    background-color: #b96266; }
  .main-category__params .bg-uni-img {
    background-image: url("../images/main-category-image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
  .main-category__params > div {
    display: flex;
    width: 215px;
    height: 215px;
    padding: 0;
    text-align: center;
    justify-content: center;
    align-items: center; }
    .main-category__params > div > a {
      color: #212121;
      text-decoration: none; }
      .main-category__params > div > a h4 {
        font-weight: 400;
        font-size: 1.2rem; }

.title-first-word {
  display: block;
  color: #b96266; }

@media screen and (max-width: 768px) {
  .main-category > .wine-stain {
    width: 30%;
    top: 0;
    left: 35%; } }

@media screen and (max-width: 600px) {
  .main-category > .wine-stain {
    width: 50%;
    top: 10%;
    left: 45%;
    transform: rotate(-90deg); } }

.main-who-we {
  position: relative; }
  .main-who-we > .wine-stain {
    position: absolute;
    width: 20%;
    height: auto;
    top: -10%;
    left: -5%;
    z-index: -2; }
  .main-who-we__card {
    width: 100%;
    padding: 25px;
    background-color: #FAFAFA;
    border-radius: 10px;
    margin-bottom: 50px; }
    .main-who-we__card svg {
      display: block;
      fill: #e87b80;
      width: 50px;
      height: 50px;
      margin: 0 auto 25px; }
    .main-who-we__card h5 {
      font-weight: 400;
      text-align: center;
      color: #b96266; }

@media screen and (max-width: 768px) {
  .main-who-we > .wine-stain {
    width: 30%;
    top: -5%; } }

@media screen and (max-width: 600px) {
  .main-who-we > .wine-stain {
    width: 50%;
    top: 0; } }

.main-partners {
  position: relative; }
  .main-partners > .wine-stain {
    position: absolute;
    width: 20%;
    height: auto;
    top: -15%;
    right: 15%;
    z-index: -2;
    transform: rotate(90deg); }

@media screen and (max-width: 768px) {
  .main-partners > .wine-stain {
    width: 30%;
    top: -15%;
    right: 15%; } }

@media screen and (max-width: 600px) {
  .main-partners > .wine-stain {
    width: 50%;
    top: -20%;
    right: 10%;
    transform: rotate(-90deg); } }

.catalog-main > .row > .wine-stain {
  position: absolute;
  width: 20%;
  height: auto;
  top: 50%;
  right: 2%;
  z-index: -2; }

@media screen and (max-width: 768px) {
  .catalog-main > .row > .wine-stain {
    width: 30%;
    top: 75%; } }

@media screen and (max-width: 600px) {
  .catalog-header {
    background-size: cover; }
  .catalog-main > .row > .wine-stain {
    width: 50%; } }

.blogs-main {
  position: relative; }
  .blogs-main > section {
    padding: 6rem 3rem 3rem; }
  .blogs-main__card {
    display: flex;
    flex-direction: column;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 550px;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    transition: all .3s ease-in-out;
    text-shadow: 0px 0px 4px #575757;
    box-shadow: -2px 4px 5px 0px #00000078; }
    .blogs-main__card.post-one {
      background-image: url("../../images/post-1-images.jpg"); }
    .blogs-main__card.post-two {
      background-image: url("../../images/post-2-image.jpg"); }
    .blogs-main__card.post-three {
      background-image: url("../../images/header-image.jpg"); }
    .blogs-main__card.post-four {
      background-image: url("../../images/main-category-image.jpg"); }
    .blogs-main__card.post-five {
      background-image: url("../../images/post-3-image.jpg"); }
    .blogs-main__card > p {
      font-size: 2rem;
      font-weight: 600; }
    .blogs-main__card > h3 {
      font-weight: 400;
      width: 80%; }
  .blogs-main__card:hover {
    color: #ECEFF1;
    text-decoration: none;
    transform: translateY(-2px); }

@media screen and (max-width: 600px) {
  .blogs-main__card {
    height: 350px; } }

.contact-main > .row > .wine-stain {
  position: absolute;
  width: 20%;
  height: auto;
  top: 5%;
  right: 5%;
  z-index: -2; }

@media screen and (max-width: 768px) {
  .contact-main > .row > .wine-stain {
    width: 30%; } }

@media screen and (max-width: 600px) {
  .contact-main > .row > .wine-stain {
    width: 50%; } }

.product-header {
  width: 100%;
  min-height: 80vh;
  background-color: #C68AF5;
  padding: 2rem;
  color: #ffffff; }
  .product-header__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr); }

.page-title {
  text-align: center;
  margin-bottom: 5rem; }

.product-header__content .text {
  padding: 25px; }

.sub-title {
  font-weight: 300;
  font-size: .9rem;
  margin-bottom: 0; }

.product-title {
  margin-bottom: 50px; }

.product-primary-btn {
  display: inline-block;
  text-decoration: none;
  border: 1px solid #903CD2;
  background-color: #903CD2;
  color: #ffffff;
  border-radius: 5px;
  padding: 10px 15px;
  margin-top: 25px; }

.product-primary-btn:hover {
  background-color: #903CD2;
  color: #ffffff;
  text-decoration: none; }

.product-header__content .image {
  position: relative;
  min-height: 300px; }
  .product-header__content .image > img {
    display: block;
    width: 40%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2; }

.bg-circle {
  width: 375px;
  height: 375px;
  background-color: #903CD2;
  border-radius: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1; }

.video-btn {
  border: 1px solid #ffffff;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 10px 15px;
  color: #903CD2;
  font-weight: 500;
  position: absolute;
  bottom: 0;
  left: 15%;
  z-index: 3; }
  .video-btn > svg {
    fill: #903CD2; }

@media screen and (max-width: 980px) {
  .product-header__content .image {
    max-height: 300px; }
  .bg-circle {
    width: 250px;
    height: 250px; } }

@media screen and (max-width: 600px) {
  .product-header__content {
    grid-template-columns: 1fr; }
  .product-header__content .text {
    padding: 0; } }

.product-nav-row {
  background-color: #903CD2;
  min-height: 10vh; }
  .product-nav-row > ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0; }
    .product-nav-row > ul > li {
      border: 2px solid transparent; }
      .product-nav-row > ul > li.active {
        border: 2px solid #C68AF5; }
      .product-nav-row > ul > li > img {
        width: 150px;
        height: 150px; }

@media screen and (max-width: 768px) {
  .product-nav-row {
    overflow-x: scroll; }
    .product-nav-row::-webkit-scrollbar {
      width: 10px; }
    .product-nav-row::-webkit-scrollbar-track {
      background: #f1f1f1; }
    .product-nav-row::-webkit-scrollbar-thumb {
      background: #CFD8DC;
      border-radius: 15px; }
    .product-nav-row::-webkit-scrollbar-thumb:hover {
      background: #B0BEC5; }
    .product-nav-row > ul {
      justify-content: flex-start; } }

footer {
  position: relative;
  margin-top: 5rem; }
  footer::before {
    content: url("../images/wave.svg");
    position: relative;
    top: 1rem;
    left: 0;
    width: 100%;
    height: auto; }

.main-footer {
  background-color: #cd8ffc;
  display: flex;
  flex-wrap: wrap; }
  .main-footer > ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  .main-footer__logo {
    height: 50px;
    width: auto;
    filter: brightness(0.3); }
