footer {
    position: relative;
    margin-top: 5rem;

    &::before {
        content: url('../images/wave.svg');
        position: relative;
        top: 0+1rem;
        left: 0;
        width: 100%;
        height: auto;
    }
}
.main-footer {
    background-color: $light-secondary-color;
    display: flex;
    flex-wrap: wrap;

    > ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &__logo {
       height: 50px;
       width: auto;
       filter: brightness(0.3);
    }
}