.catalog-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ECEFF1;
}
.main-catalog {
    width: 90%;
    background-color: #CFD8DC;
    padding: 25px;
    position: relative;
    box-shadow: -5px 5px 10px 5px #aeaeae;

    > .content {
        width: 60%;
    }

    > .catalog-img-link {
        display: block;
        width: 400px;
        height: auto;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 50px;
        box-shadow: 0px 0px 5px 0px #000000;
        > img {
            width: 100%;
            height: auto;
        }
    }
}
@media screen and (max-width: 768px) {
    .main-catalog {
        > .content {
            width: 55%;
        }
    
        > .catalog-img-link {
            width: 300px;
            right: -30px;
        }
    }
}
@media screen and (max-width: 600px) {
    .main-catalog {
        width: 100%;
        box-shadow: none;
        > .content {
            width: 100%;
            margin-bottom: 50px;
        }
    
        > .catalog-img-link {
            width: 300px;
            height: auto;
            display: block;
            position: relative;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            > img {
                width: 100%;
                height: auto;
            }
        }
    }
}