.contact-main > .row {
    > .wine-stain {
        position: absolute;
        width: 20%;
        height: auto;
        top: 5%;
        right: 5%;
        z-index: -2;
    }
}
@media screen and (max-width: 768px) {
    .contact-main > .row {
    
        > .wine-stain {
            width: 30%;
        }
    }
}
@media screen and (max-width: 600px) {
    .contact-main > .row {
    
        > .wine-stain {
            width: 50%;
        }
    }
}